header {
    .carousel {
        background-color: #40E0D0;
        width: 100%;
        height: 300px;
        // overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
    
