nav {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1d1e;
    @include breakpoint-down (medium) {
        padding: 0 20px;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint-down(small){
            padding: 0;
        }
    }
    li {
        list-style: none;
    }
    .col {
        @include breakpoint-down(small) {
            display: none;
        }
    }
    .hamburger-menu {
        display: none;
    }
    .hamburger {
        // display: block;
        cursor: pointer;
        
     >span {
        display: block;
        width: 21px;
        height: 4px;
        margin-top: 6px;
        background-color: black;
        border-radius: 7px;
        transition: all 300ms ease-in-out;
        transform-origin: -1px 2px;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
      }  
    }
    .hamburger {
        cursor: pointer;
    }
    .hamburger span {
        
        display: block;
        width: 25px;
        height: 4px;
        background: white;
        &:not(:last-child){
            margin-bottom: 4px;
        }
    }
    a{
        text-decoration: none;
        margin-right: 10px;
        color: #fffafa;
        font-size: 20px;
        font-weight: 300;
        position: relative;

        @include breakpoint-down (medium) {
            font-size: 16px;
        }
      
    }
    a::before{
        transform: scaleX(0);
        transform-origin: bottom left;
    }
    a:hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
      
    }
    a::before {
        content: '';
        display: block;
        position: absolute;
        top: 45px;
        right: 0;
        bottom: -30px;
        left: 0;
    
        background: white;
        z-index: 1;
        transition: transform .3s ease-in-out;
        @include breakpoint-down(small) {   
                top: 32px;
                right: 95px;
                bottom: 3px;
                left: 91px;
        }
    }
    h2{
        margin: 30px;
        margin-right: 50px;
        cursor: pointer;
        color: #FFFAFA;
        font-size: 30px;
        @include breakpoint-down(small){
            margin-left: 0;
        }
    }
    @include breakpoint-down(small) {
        .open {
            >span:first-child {
                transform: rotate(45deg)
             }
             >span:nth-child(2) {
                opacity: 0;
             }
             >span:last-child {
                transform: rotate(-47deg);
             }
             
        }
        .hamburger-menu {
            display: block;
            position: absolute;
            width: calc(100% - 3rem);
            top: 8%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #1c1d1e;
            margin-top: 1.5rem;
            padding: 1.625rem;
            border-radius: 5px;
            z-index: 6;
            transition: all 200ms ease-in-out;
            a {
                display: block;
                padding: 0.625rem;
                color: #fff;
                text-align: center;
          
              }
        }
      
    }
}